{% extends 'base.html.twig' %}

{% block title %}Driver index{% endblock %}

{% block body %}
    <h1>Driver index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_mame</th>
                <th>Last_name</th>
                <th>Number_tel</th>
                <th>Account_email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
            <tr>
                <td>{{ driver.id }}</td>
                <td>{{ driver.firstMame }}</td>
                <td>{{ driver.lastName }}</td>
                <td>{{ driver.numberTel }}</td>
                <td>{{ driver.accountEmail }}</td>
                <td>
                    <a href="{{ path('driver_show', {'id': driver.id}) }}">show</a>
                    <a href="{{ path('driver_edit', {'id': driver.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('driver_new') }}">Create new</a>
{% endblock %}
