{% extends 'base.html.twig' %}

{% block title %}Ride index{% endblock %}

{% block body %}


        {# <div class="container">
  <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">From {{ ride.pickUpFrom }} To {{ ride.dropTo }}</h5>
                        <p class="card-text">
                            <i class="bi bi-calendar-check">{{  ride.pickUpTime ? ride.pickUpTime|date('Y-m-d') : ''}}</i><br>
                            <h3>name of driver : {{ ride.driver.getLastName() }}</h3>
                            <h3>Prix de ride : {{ ride.amount }} DT</h3>
                            <h3>Type de ride : {{ ride.typeRide }}</h3>
                            <h3>Number of telphone : {{ride.driver.getNumbertel()}}</h3>
                        </p>
                    <a href={{ path('ride_show', {'id': ride.id}) }} class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>  
         </div>
        </div> #}

        {% for ride in rides %}
<section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              {# <div class="icon"><i class="bx bxl-dribbble"></i></div> #}
              <h4 class="title"><a href="">From {{ ride.pickUpFrom }} To {{ ride.dropTo }}</a></h4>
              <p class="description">
              name of driver : {{ ride.driver.getLastName() }}<br>
              Prix de ride : {{ ride.amount }} DT<br>
              Type de ride : {{ ride.typeRide }}<br>
              Number of telphone : {{ride.driver.getNumbertel()}}
              </p>
                    <a href={{ path('ride_show', {'id': ride.id}) }} class="btn btn-primary">Details</a>       
            </div>
          </div>
      </div>
</section>    
{% endfor %}
<!--{% for ride in rides %}

        <div class="row row-cols-1 row-cols-md-3 g-4">
             <div class="col">
                 <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">From {{ ride.pickUpFrom }} To {{ ride.dropTo }}</h5>
                        <p class="card-text">
                        This ride from From {{ ride.pickUpFrom }} to {{ ride.dropTo }} at {{  ride.pickUpTime ? ride.pickUpTime|date('Y-m-d') : ''}}.
                        </p>
                    </div>
                </div>
            </div>
        </div>
          {% endfor %}
-->
    <!-- <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pick_up_time</th>
                <th>Pick_up_from</th>
                <th>Drop_to</th>
                <th>Type_ride</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ride in rides %}
            <tr>
                <td>{{ ride.id }}</td>
                <td>{{ ride.pickUpTime ? ride.pickUpTime|date('Y-m-d') : '' }}</td>
                <td>{{ ride.pickUpFrom }}</td>
                <td>{{ ride.dropTo }}</td>
                <td>{{ ride.typeRide }}</td>
                <td>{{ ride.amount }}</td>
                <td>
                    <a href="{{ path('ride_show', {'id': ride.id}) }}">show</a>
                    <a href="{{ path('ride_edit', {'id': ride.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
    <a href="{{ path('ride_new') }}">Create new</a>-->

{% endblock %}
