{% extends 'base.html.twig' %}

{% block title %}Ride index{% endblock %}
   {% block nav %}
{% if  is_granted('ROLE_ADMIN')%}
  
              <li><a href="{{path('ride_new')}}">Add Ride</a></li>
              <li><a href="{{path('user')}}">users</a></li>
   
            {% endif %}

            <li><a href="{{path('app_logout')}}">LogOut</a></li>
 {% endblock %} 
{% block body %}


   

        {% for ride in rides %}
<section class="services">
      <div class="container"> 

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              {# <div class="icon"><i class="bx bxl-dribbble"></i></div> #}
              <h4 class="title"><a href="">From {{ ride.pickUpFrom }} To {{ ride.dropTo }}</a></h4>
              <p class="description">
              name of driver : {{ ride.driver.getLastName() }}<br>
              Prix de ride : {{ ride.amount }} DT<br>
              Type de ride : {{ ride.typeRide }}<br>
              Number of telphone : {{ride.driver.getNumbertel()}}
              </p>
                    <a href={{ path('ride_show', {'id': ride.id}) }} class="btn btn-primary">Details</a>   
                     
{% if  is_granted('ROLE_ADMIN')%}
  
      <a href="{{ path('ride_edit', {'id': ride.id}) }}" class="btn btn-danger">edit</a>
       <div class="btn btn-danger">{{ include('ride/_delete_form.html.twig') }}</div>
   
{% endif %} 
            </div>
           </div>
      </div>
</section>    
{% endfor %}


{% endblock %}
