{% extends 'base.html.twig' %}

{% block title %}Ride{% endblock %}
{% block nav %}
   {% block nav %}
{% if  is_granted('ROLE_ADMIN')%}
  
              <li><a href="{{path('ride_new')}}">Add Ride</a></li>
              <li><a href="{{path('user')}}">users</a></li>
   
            {% endif %}
            <li><a href="{{path('app_logout')}}">LogOut</a></li>
 {% endblock %} 
{% block body %}
<div class="container">
    <table class="table">
        <tbody style=" font: 110%/1.4 system-ui;
  margin: 0;
  padding: 10rem 2rem 50rem;" >
            <tr>    
                <th   padding: 1rem;>Id</th>
                <td style=" padding: 1rem;">{{ ride.id }}</td>
            </tr>
            <tr>
                <th   padding: 1rem;>Pick_up_time</th>
                <td style=" padding: 1rem;">{{ ride.pickUpTime ? ride.pickUpTime|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th   padding: 1rem;>Pick_up_from</th>
                <td style=" padding: 1rem;">{{ ride.pickUpFrom }}</td>
            </tr>
            <tr>
                <th   padding: 1rem;>Drop_to</th>
                <td style=" padding: 1rem;">{{ ride.dropTo }}</td>
            </tr>
            <tr>
                <th  padding: 1rem;>Type_ride</th>
                <td style=" padding: 1rem;">{{ ride.typeRide }}</td>
            </tr>
            <tr>
                <th  style= "padding: 1rem;">Amount</th>
                <td style=" padding: 1rem;">{{ ride.amount }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <a href="{{ path('ride_index') }}">back to list</a>

    <a href="{{ path('ride_edit', {'id': ride.id}) }}">edit</a>

    {{ include('ride/_delete_form.html.twig') }}
{% endblock %}
